---
import {SITE_TITLE} from "../consts";
import HeaderLink from "./HeaderLink.astro";
---
<header class="container-fluid">
    <nav>
        <ul>
            <li>
                <a href="/" class="contrast"><strong>{SITE_TITLE}</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <HeaderLink href="/">Home</HeaderLink>
            </li>
            <li>
                <HeaderLink href="/blog">Blog</HeaderLink>
            </li>
            <li>
                <HeaderLink href="/about">About</HeaderLink>
            </li>
            <li>
                <HeaderLink href="https://github.com/jasperspahl" target="_blank">Github</HeaderLink>
            </li>
        </ul>
    </nav>
</header>