---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
export interface Props {
    title: string;
    description: string;
}
const {title, description} = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
<head>
    <BaseHead title = {title} description={description} />
</head>
<body>
<Header />
<main>
    <slot/>
</main>
<Footer/>
</body>
</html>
<style is:global>
    @import "open-props/style";
    @import "open-props/normalize";
    :root {
        --brand: var(--green-6);
    }
    h1 {
        font-size: var(--font-size-fluid-3);
    }

    h2 {
        font-size: var(--font-size-fluid-2);
    }

    h3 {
        font-size: var(--font-size-fluid-1);
    }
    main {
        max-width: var(--size-content-3);
        padding: var(--size-2) var(--size-3);
		margin: auto;
    }
</style>
